* {
  margin: 0;
  font-family: Roboto, Arial;
}

body{
  background-color: #f8fafc;
}

.container {
height: 100vh;
display: grid;
grid-template-columns: 100px 5fr 10fr 2fr;
grid-template-rows: 1fr 1fr 8fr 100px;
  

 

  /* Third Layout */
grid-template-areas:
  "s h h h h"
  "s m m a a"
  "s m m a a"
  "s m m a a "
  ". m m . ."; 
}

header {
grid-area: h;

}

nav {
grid-area: nav;
}



.sidebar {
grid-area: s;


}



.main{
grid-area: m;
}



.aside {
padding: 20px;
grid-area: a;
text-align: left;


}


.s {
padding: 20px;
background: rgb(84, 84, 84);
text-align: center;
color: #fff;
}